<table class="tx-sz-downloadcenter" >
	<tr>
		<td>
			<f:translate key="tx_szdownloadcenter_domain_model_file.title" />
		</td>
		<td>
			{file.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_szdownloadcenter_domain_model_file.file" />
		</td>
		<td>
			{file.file}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_szdownloadcenter_domain_model_file.lastedit" />
		</td>
		<td>
			{file.lastedit -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_szdownloadcenter_domain_model_file.revision" />
		</td>
		<td>
			{file.revision}
		</td>
	</tr>
</table>