<table class="tx-sz-downloadcenter" >
	<tr>
		<td>
			<f:translate key="tx_szdownloadcenter_domain_model_product.title" />
		</td>
		<td>
			{product.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_szdownloadcenter_domain_model_product.image" />
		</td>
		<td>
			{product.image}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_szdownloadcenter_domain_model_product.text" />
		</td>
		<td>
			{product.text}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_szdownloadcenter_domain_model_product.link" />
		</td>
		<td>
			{product.link}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_szdownloadcenter_domain_model_product.linktext" />
		</td>
		<td>
			{product.linktext}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_szdownloadcenter_domain_model_product.discontinued" />
		</td>
		<td>
			{product.discontinued}
		</td>
	</tr>
</table>